html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  display: flex;
  justify-content: center;
  background: rgb(177, 115, 53);
  background-image: url("/assets/bg_field_dice.png");
  background-size: cover;
  background-position: center;

  z-index: 3;
  position: relative;
  margin: 0 auto;
}

.chess-board {
  display: flex;
  justify-content: space-around;
}

.chess {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 510x;
  margin: 5px 10px;
  // background: rgba(63, 146, 74, 0.5);
  // background: gainsboro;
  background-image: url("/assets/bg_chessboard_1.png");
  background-size: cover;
  background-position: center;
  border: 5px solid white;
  border-radius: 2px;
}

.case {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-stats-infos {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0%;
  z-index: 0;
  margin: 10px auto;
  width: 1070px;
  height: 100px;

  .display-combat {
    width: 300px;
  }
  .display-player-stats,
  .display-enemy-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 320px;
    margin: 0 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid white;
    color: white;
    background-image: url("/assets/bg-display-stats.png");
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
      red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
      red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    .stats-column {
      padding: 7px 9px;
    }

    .display-player-stats-infos,
    .display-enemy-stats-infos {
      margin: 5px 10px;
      font-size: 20px;
      font-family: "Macondo", cursive;
      font-weight: 600;
      text-shadow: 3px 3px 5px rgb(255, 38, 0);
    }
  }

  .player-3D {
    transform: perspective(350px) rotateY(15deg);
  }
  .enemy-3D {
    transform: perspective(350px) rotateY(-15deg);
  }
}


// CASE SELECTOR AND CASE STYLED AREAS
.initial-square {
  background: rgb(48, 178, 113);
  outline: 3px ridge #1c6ea4;
  outline-offset: 0px;
}
// Hovered Cases
.selected-square {
  background: rgb(56, 180, 60);
  outline: 5px ridge #26581b;
  outline-offset: 0px;
}
// Movement Area Cases
.possibleMov {
  background: rgba(63, 146, 74, 0.5);
}

// Attack Area Cases
.possibleAtk {
  background: rgba(182, 18, 59, 0.5);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 130px;
  background: lightslategray;
  /* height: 100px; */
  color: whitesmoke;
}

.replacement {
  width: 130px;
  height: 100px;
}

.char-obj-case {
  cursor: pointer;
}

.char-obj-case-life-container {
  background: whitesmoke;
  border: 1px solid black;
  height: 6px;
  width: 60px;
  margin: 3px 0;
  border-radius: 3px;
  .char-obj-case-life {
    background: #2fb828;
    width: 100%;
    height: 100%;
  }
}

#foe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 130px;
  background: lightslategray;
  /* height: 100px; */
  color: whitesmoke;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  img {
    height: 400px;
  }
}
.display-character {
}

.display-line {
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-family: "Lilita One", system-ui;
}

.display-life {
  width: 120px;
  height: 14px;
  border: 1px solid black;
  background: white;
  margin: 10px 0;
  border-radius: 2;
}

.life {
  width: 100%;
  height: 100%;
  background: green;
}

.display-cmd {
  display: flex;
  flex-direction: column;
  font-family: "Lilita One", system-ui;
  padding: 5px;
  border: 3px solid white;
  border-radius: 5px;
  width: 190px;
  background: rgba(160, 114, 23, 0.5);
  height: 180px;
  color: whitesmoke;
  margin: 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.hero-cmd {
  transform: perspective(350px) rotateY(10deg);
}
.foe-cmd {
  transform: perspective(350px) rotateY(-10deg);
  text-align: right;
}

.void {
  flex-grow: 1;
}

.actionName {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.actionBtn {
  margin: 5px auto;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  background: #1c6ea4;
  font-family: "Lilita One", system-ui;
  width: 170px;
}

.actionBtn:hover {
  background: #4b98cc;
  transform: scale(1.1);
  cursor: pointer;
}

.actionBtn-container {
  display: flex;
  justify-content: space-around;
}

.endBtn {
  position: relative;
}

.yesBtn {
  display: none;
  background: #23a41c;
  position: relative;
  width: 28px;
  margin: 0 2px;
}
.yesBtn:hover {
  background: #7ef278;
  transform: scale(1.1);
  cursor: pointer;
}

.noBtn {
  display: none;
  background: #a41c1c;
  position: relative;
  width: 28px;
  margin: 0 2px;
}
.noBtn:hover {
  background: #ff7474;
  transform: scale(1.1);
  cursor: pointer;
}
// ATTACK COMMAND SECTION
.attackBtn {
  position: relative;
  margin-bottom: 5px;
}
.attack-container {
  display: none;
  position: relative;
  background: #4b98cc;
  color: white;
  width: 150px;
  padding: 5px;
  margin: 5px auto;
  border-bottom-left-radius: 5px;
  border-radius: 5px;
  border: 2px solid white;
}
.attack-line {
  display: flex;
  justify-content: space-between;
  margin: 2px 5px;
  font-size: 14px;
  &:hover {
    background: #1c6ea4;
    cursor: pointer;
    transform: scale(1.1);
  }
  .attack-line-text {
    
  }
}

// INVENTORY COMMAND SECTION
.inventoryBtn {
  position: relative;
  margin-bottom: 5px;
}
.inventory-container {
  display: none;
  position: relative;
  background: #4b98cc;
  color: white;
  width: 118px;
  padding: 5px;
  margin: 5px auto;
  border-bottom-left-radius: 5px;
  border-radius: 5px;
  border: 2px solid white;
}
.inventory-line {
  display: flex;
  justify-content: space-between;
  margin: 2px 5px;
  &:hover {
    background: #1c6ea4;
    cursor: pointer;
    transform: scale(1.1);
  }
}
