html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  display: flex;
  justify-content: center;
  background: rgb(177, 115, 53);
  z-index: 3;
  position: relative;
  margin: 0 auto;
}

.chess-board {
  display: flex;
  justify-content: space-around;
}

.chess {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 510x;
  margin: 5px 10px;
  background: rgba(63, 146, 74, 0.5);
}

.case {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-stats-infos {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 13%;
  z-index: 0;
  margin: 10px auto;
  width: 800px;
  height: 100px;
  background: rgba(0, 0, 0, 0.681);
  border: 1px solid white;
  color: white;
  font-family: "Macondo", cursive;
  font-weight: 500;
}
.display-stats-infos .display-player-stats,
.display-stats-infos .display-enemy-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}
.display-stats-infos .display-player-stats .stats-column,
.display-stats-infos .display-enemy-stats .stats-column {
  padding: 7px 9px;
}
.display-stats-infos .display-player-stats .display-player-stats-infos,
.display-stats-infos .display-player-stats .display-enemy-stats-infos,
.display-stats-infos .display-enemy-stats .display-player-stats-infos,
.display-stats-infos .display-enemy-stats .display-enemy-stats-infos {
  margin: 5px 10px;
  font-size: 20px;
}

.initial-square {
  background: rgb(48, 178, 113);
  outline: 3px ridge #1c6ea4;
  outline-offset: 0px;
}

.selected-square {
  background: rgb(56, 180, 60);
  outline: 5px ridge #26581b;
  outline-offset: 0px;
}

.possibleMov {
  background: rgba(63, 146, 74, 0.5);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 130px;
  background: lightslategray;
  /* height: 100px; */
  color: whitesmoke;
}

.replacement {
  width: 130px;
  height: 100px;
}

.char-obj-case {
  cursor: pointer;
}

.char-obj-case-life-container {
  background: whitesmoke;
  border: 1px solid black;
  height: 6px;
  width: 60px;
  margin: 3px 0;
  border-radius: 3px;
}
.char-obj-case-life-container .char-obj-case-life {
  background: #2fb828;
  width: 100%;
  height: 100%;
}

#foe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 130px;
  background: lightslategray;
  /* height: 100px; */
  color: whitesmoke;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.display-container img {
  height: 400px;
}

.display-line {
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-family: "Lilita One", system-ui;
}

.display-life {
  width: 120px;
  height: 14px;
  border: 1px solid black;
  background: white;
  margin: 10px 0;
  border-radius: 2;
}

.life {
  width: 100%;
  height: 100%;
  background: green;
}

.display-cmd {
  display: flex;
  flex-direction: column;
  font-family: "Lilita One", system-ui;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 190px;
  background: rgba(191, 193, 196, 0.5);
  height: 180px;
  color: whitesmoke;
  margin: 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.void {
  flex-grow: 1;
}

.actionName {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.actionBtn {
  margin: 5px auto;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  background: #1c6ea4;
  font-family: "Lilita One", system-ui;
  width: 170px;
}

.actionBtn:hover {
  background: #4b98cc;
  transform: scale(1.1);
  cursor: pointer;
}

.actionBtn-container {
  display: flex;
  justify-content: space-around;
}

.endBtn {
  position: relative;
}

.yesBtn {
  display: none;
  background: #23a41c;
  position: relative;
  width: 28px;
  margin: 0 2px;
}

.yesBtn:hover {
  background: #7ef278;
  transform: scale(1.1);
  cursor: pointer;
}

.noBtn {
  display: none;
  background: #a41c1c;
  position: relative;
  width: 28px;
  margin: 0 2px;
}

.noBtn:hover {
  background: #ff7474;
  transform: scale(1.1);
  cursor: pointer;
}

.inventoryBtn {
  position: relative;
  margin-bottom: 5px;
}

.inventory-container {
  display: none;
  position: relative;
  background: #4b98cc;
  color: white;
  width: 118px;
  padding: 5px;
  margin: 5px auto;
  border-bottom-left-radius: 5px;
  border-radius: 5px;
  border: 2px solid white;
}

.inventory-line {
  display: flex;
  justify-content: space-between;
  margin: 2px 5px;
}
.inventory-line:hover {
  background: #1c6ea4;
  cursor: pointer;
  transform: scale(1.1);
}/*# sourceMappingURL=stratos.css.map */